
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
}

/* Custom Scrollbar for hidden overflows */
::-webkit-scrollbar { width: 0px; background: transparent; }

.font-cinzel { font-family: 'Cinzel', serif; }
